<div *ngIf="product">
  <h2>{{product.name | uppercase}} Details</h2>
  <div><span>id: </span>{{product.id}} <br>
       <span>Name: </span>{{product.name}} <br>
       <span>Category: </span>{{product.category}} <br>
       <span>Price: </span>{{product.price}} <br>
       <span>Image: </span>{{product.image}} <br>
       <span>Description: </span>{{product.description}} <br>
  </div>
  <br>
  <button (click)="addToCart()">Add to cart</button><br>
  <button (click)="deleteProduct()">Delete product</button><br><br><br><br><br><br>
  <button (click)="goBack()">go back</button>
</div>